.side-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: calc(33vw - 20px);
    font-weight: 500;
    align-items: flex-start;
    .icon {
        font-size: 36px;
        margin-right: 16px;
    }
    .information {
        display: flex;
        align-items: center;
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 12px;
        }
    }
    .link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0;
        font-size: 16px;
    }
}