.message {
    background-color: white;
    padding: 12px;
    height: 280px;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 380px;
    h3 {
        margin: 0;
        padding: 0;
    }
    .message-list {
        height: 80%;
        overflow-y: scroll;
        .message-item {
            background-color: #f5f5f5;
            margin: 8px 0;
            width: fit-content;
            padding: 0 8px;
            border-radius: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .message-content {
                height: fit-content;
                font-size: 14px;
                text-align: center;
                width: fit-content;
                resize: none;
                border: none;
                display: flex;
                padding: 0;
                line-height: 20px;
            }
        }
    }
    .message-input {

    }
}