.nav-bar {
    display: flex;
    position: fixed;
    top: 0;
    width: calc(100vw - 40px);
    height: 60px;
    padding: 0 20px;
    align-items: center;
    background-color: #fff;
    .nav-item {
        display: flex;
        align-items: center;
        font-size: 28px;
    }
    .left {
        width: 33vw;
        .logo {
            font-size: 36px;
            background-image: linear-gradient(to right, #15a3fa, #ff00f2 100%);
            background-clip: text;
            letter-spacing: 6px;
            color: transparent;
        }
    }

    .middle {
        justify-content: space-between;
        width: 34vw;
        font-size: 32px;
        .link-item {
            &.active {
                color: #15a3fa;
                // border-bottom: 4px solid #15a3fa;
            }
        }
    }

    .right {
        width: 33vw;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        .search-bar {
            width: 50%;
            padding: 8px 12px;
            display: flex;
            align-items: center;
            margin-right: 20px;
            border: 1px solid #ccc;
            border-radius: 16px;
            .search {
                width: 100%;
                height: 20px;
                outline: none;
                border: none;
            }
        }
        .profile {
            .avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
    }
}